<html>
{% include "html_head.html" %}
<body>
<div id="main">
	{% include "header.html" %}

	<div class="pure-g">		
		<div class="pure-u-2-3">
		<div id="content">
			<h2>Activation de ligne</h2>
			<p></p>
			<form action="RTBFActivateLine.php" method="post" id="lineinfo" class="pure-form" enctype="multipart/form-data">
				<fieldset>
					<div class="pure-control-group">
						<label for="line">Directory Number</label>
						<input type="text" name="line" placeholder="+3227373099" value="{{ form.line }}"/>
						<button id="verify" type="submit" name="verify" class="pure-button pure-button-primary">Vérifier</button>
						<button id="activate" type="submit" name="activate" class="pure-button button-green" {{ activate_enabled }}>Activer</button>
					</div>
				</fieldset>
			</form>
			<hr/>
			<p>{{ result }}</p>
		</div>
		</div>
		{% include "output.html" %}
	</div>
</body>
</html>